<div class="card member-card mb-4">
    <div class="card-img-wrapper">
        <img src="{{member().photoUrl || '././assets/user.png'}}" alt="{{member().knownAs}}" class="card-img-top" />
        <div class="image-overlay"></div>
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/members/{{member().username}}" class="btn btn-action"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button (click)="toggleLike()" class="btn btn-action"><i class="fa fa-heart"></i></button>
            </li>
            <li class="list-inline-item">
                <button routerLink="/members/{{member().username}}" [queryParams]="{tab: 'Messages'}" class="btn btn-action"><i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-3">
        <h6 class="card-title text-center mb-2">
            @if (isOnline()){
                <span class="online-badge">
                    <i class="fa fa-circle"></i>
                </span>
            }
            <span class="member-name">{{member().knownAs}}, {{member().age}}</span>
            @if (hasLiked()){
                <i class="fa fa-heart ms-2 liked-icon"></i>
            }
        </h6>
        <p class="card-text text-muted text-center mb-0">
            <i class="fa fa-map-marker me-1"></i>{{member().city}}
        </p>
    </div>
</div>
